.list {
    width: 800px;
    margin: 40px auto;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    padding: 20px;
    >.todo {
        width: 100%;
        border-bottom: 1px solid rgba(0, 0, 0, 0.15);
        padding: 5px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        >span {
            flex-grow: 1;
        }
        >div {
            width: 80px;
            height: 20px;
            font-size: 12px;
            cursor: pointer;
            user-select: none;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #ddd;
            border-radius: 2px;
            margin-left: 10px;
            &:hover {
                background: rgba(0, 0, 0, 0.05);
            }
        }
        &.nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            >div {
                width: 33%;
                display: flex;
                justify-content: center;
                align-items: center;
                &:first-child{
                   margin-left: 0;
                }
            }
        }
    }
}